<%= link_to "画像を投稿する", new_desk_path%>

<%# 画像一覧 %>
<div class='desk-contents'>
  <ul class='desk-lists'>

    <% @desks.each do |desk| %>
      <li class='list'>
        <%= link_to desk_path(desk.id) do %>
          <div class='desk-img-content'>
            <%= image_tag desk.image, class: "desk-img" %>
          </div>
          <div class='desk-info'>
            <h3 class='desk-tiutle'>
            <%= desk.title %>
          </h3>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
<%# /画像一覧 %>