<div class= "side-main">
  <div class ="side-wrapper">
    <div class ="side-header">
      <h2 class= "top-header-text">
        自分のデスクを<span id="red-word">掃除</span>しましょう!
      </h2>
    </div>

    <div class ="btn-wrapper">
      <%= link_to "今日の掃除箇所を決める", clean_suggestions_path, class: "top-btn red-btn" %>  
    </div>
    <div class="side-text">
      <p>※利用するにはログインする必要があります。</p>
    </div>
  </div>
</div>