<div class= "side-main">
  <div class ="side-wrapper">
    <div class ="side-header">
      <h2 class= "top-header-text">
        自分のデスクを<span id="blue-word">自慢</span>しましょう!
      </h2>
    </div>

    <div class ="side-btn">
      <%= link_to "デスク画像を投稿する", desks_path, class: "blue-btn" %>  
    </div>
    <div class="side-text">
      <p>・画像を共有できます</p>
      <p>・コメント、いいね機能あり</p>
    </div>
  </div>
</div>