<div class= "side-main">
  <div class ="side-wrapper">
    <div class ="side-header">
      <h2 class= "top-header-text">
        自分のデスクを<span id="red-word">掃除</span>しましょう!
      </h2>
    </div>

    <div class ="side-btn">
      <%= link_to "今日の掃除箇所を決める", suggestions_path, class: "red-btn" %>  
    </div>
    <div class="side-text">
      <p>・今日の掃除場所を提案します</p>
      <p>・毎日少しずつ掃除をしましょう</p>
    </div>
  </div>
</div>