/* 提案部分 */

.suggestion-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

  .suggestion-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}
  
  .suggestion-contents>.subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #3ccace;
  font-weight: bold;
}
  
  .suggestion-lists {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  
  .suggestion-lists>.list {
  width: 54vh;
  padding: 1vw;
  background-color: #FFF;
}
  
.list {
  display: flex;
}

/* テーブル */
table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 50vw;
  margin: 0 auto;
}

.tabel-heading {
  background-color: #d4f0fd;
}

table tr{
  border-bottom: solid 1px #eee;

}


table th,table td{
  text-align: center;
  width: 25%;
  padding: 15px 0;
}


/* 画像投稿アイコン */
.suggestion-btn {
  width: 120px;
  background: #ffe4e1;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  border: 1px solid #ccc;
}

.desk-btn:hover {
  opacity: 0.6;
}

.desk-btn-text {
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}

.desk-btn-icon {
  width: 60%;
}