/*------------ 画像一覧のグリッド設定 -------------*/
.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  /* スマホ向けの余白設定 */
  padding: 0 4%;
}

.grid {
  display: grid;
  gap: 26px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  margin-top: 6%;
  margin-bottom: 50px;
}

 .desk-img {
   height: 33vh;
   width: 50vh;
   object-fit: cover;
 }


/* 画像投稿アイコン */
.desk-btn {
  width: 120px;
  background: #f1f8fe;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  border: 1px solid #ccc;
}

.desk-btn:hover {
  opacity: 0.6;
}

.desk-btn-text {
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}

.desk-btn-icon {
  width: 60%;
}