/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* リセットCSS */
 * {
  box-sizing: border-box;
  color: rgb(77,77,77);
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

/* ヘッダー */

header {
  background-color: #f1f8fe;
  padding: 20px 0;
}

.inner {
  width: 1024px;
  margin: 0 auto;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-left: 3vw;
}

.nav__btn {
  margin-right: 3vw;
}


/*---------- ユーザー新規登録のフォーム ----------*/

.form__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.field {
  margin: 10px 0;
}
/* ----------トップページ---------- */

.wrapper {
  display: flex;
  margin: 0 auto;
}

/* ----------投稿画像のトップページリンク---------- */

.left-side {
  width: 50vw;
  height: 100vh;
  background-color: rgb(176,222,236);
  display: flex;
  justify-content: center;
  align-items: center;
}



/* ----------掃除提案のトップページリンク---------- */
.right-side {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}