<%=link_to "掃除箇所の登録", new_suggestion_path%>
<div class='suggestion-contents' >
    <ul class='suggestion-lists'>
      <% @suggestions.each do |suggestion| %>
        <% if user_signed_in? && current_user.id == suggestion.user_id %>
          <li class='list'>
            <%= suggestion.place %>
            <% num_days = (Date.today - suggestion.last_cleaned_date).to_i %>
            <% if suggestion.period_cleaning <= num_days %>
              <% suggestion.status = false %>
            <% else %>
              <% suggestion.status = true %>
            <% end %>  
            <%= suggestion.status %>
          </li>
        <% end %>
      <% end %>
    </ul>
</div>

  <div class='form-wrap'>
    <div class="form-group">
      <div class="actions">
        <%= button_to "今日の掃除箇所を決める", suggestions_path, method: :get, class: "register-blue-btn" %>
      </div>
    </div>
  </div>